.slider-captcha {
    margin: 0 auto;
    width: 314px;
    height: 286px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    margin-top: 40px;
}

.slider-captcha .card-body {
    padding: 1rem;
}

.slider-captcha canvas:first-child {
    border-radius: 4px;
    border: 1px solid #e6e8eb;
}

.slider-captcha.card .card-header {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.03);
}